<!-- Pages/Index.razor -->
@page "/"

<div class="hero-section">
    <h1>Hello, I'm Nisarg</h1>
    <p>Service Engineer | Developer | Researcher</p>
    <a href="/Resume" class="btn-download">View My Resume</a>
</div>