<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NM.</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects">Work</NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link" href="contact">Contact</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="footer" id="contact">
    <div class="container">
        <h2 >LET'S BUILD.</h2>
        <a href="mailto:nisarg.mankad@email.com">
            nisarg.mankad@email.com
        </a>
    </div>
</footer>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}